.profile-container {
  width: 13rem;
  height: 100%;
  padding: 3rem 1rem 3rem 1rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--charcoal-800);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-container > .avatar-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.profile-container .avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-container .avatar {
  width: 6rem;
  height: 6rem;
}

.profile-container .status-badge {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 2.75rem;
  border-width: 0.2rem;
}

.pvp-stat-container,
.total-game-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}

.win-lose-stat-bar {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 10rem;
  align-items: center;
}

.tally-bar {
  width: 100%;
  display: flex;
  height: 0.5rem;
}

.lose-bar {
  width: 50%;
  height: 0.5rem;
  background-color: var(--magenta-500);
  border-radius: 0 0.5rem 0.5rem 0;
}

.win-bar {
  width: 50%;
  height: 0.5rem;
  background-color: var(--teal-500);
  border-radius: 0.5rem 0 0 0.5rem;
}

.win-lose-label {
  display: flex;
  justify-content: space-between;
  min-width: 10rem;
}
 
.profile-container .username {
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}
