
#friends-container {
  min-width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 35px 0px 0px 35px;
  background-color: var(--charcoal-800);
  gap: 1rem;
}

#friends-container > .header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 1.25rem 0 1.25rem;
}

#friends-container > .header > .title {
  font-size: 1.875rem;
}

#add-friend-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--blue-500);
  transition: 0.3s;
}

#add-friend-icon {
  color: var(--blue-200);
  transition: 0.3s;
}

.friends-section {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.friend-record {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 3.75rem;
  box-sizing: border-box;
  padding: 0 0.75rem 0 0.75rem;

  background-color: var(--charcoal-600);
  border-radius: 10px;
  transition: 0.2s;
  position: relative;
}

.friend-record .avatar-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.friend-record .avatar-name {
  font-size: 1rem;
}

.friend-record .avatar-container {
  position: relative
}

.friend-record .avatar {
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.friend-record .status-badge {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--teal-500)
}

.friend-record .icons-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.friend-record .icons-section > * {
  cursor: pointer;
  color: var(--charcoal-300);
  transition: 0.2s;
  position: relative;
}

.friend-record .icons-section > *:hover {
  color: var(--charcoal-100);
}

.friend-record .icons-section > *:active {
  color: var(--charcoal-200);
}

.icon-tooltip {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  background-color: var(--blue-500);
  z-index: 1;
  bottom: 1.75rem;
  right: 0;
  pointer-events: none;
}

.icon-with-tooltip:hover > .icon-tooltip {
  opacity: 1;
}

/*friend search panel*/

.panel-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 82.82%;
}

.scrollable-container.friend-search {
  gap: 0.3125rem;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  height: 100%;
  overflow-y: scroll; 
}

#friend-search-form > .input-field {
  margin: 0 1.25rem 0 1.25rem;
  width: 75%;
  height: 2rem;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

#friend-search-form {
  width: 100%;
}

#close-search-friend-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
