#how-to-play-container {
	width: 100%;
	max-width: 40rem;
	margin: 0 auto;
	border-radius: 1.25rem;
	padding: 2rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 2rem;
  }
  
  .how-to-play-title {
	margin: 0;
	text-align: center;
  }
