
.main-container > * {
  font-weight: 800;
  font-size: 15px;
}

#main-menu-panel > .content-container {
  width: 100%;
  height: 100%;
  display: flex;
}

#main-menu-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  width: 62.5rem;
  height: 32rem;
  border-radius: 40px;

  position: relative;

  border: 5px solid var(--teal-500);
  transition: 0.3s;
}

