#profile-settings-container {
    width: 100%;
    max-width: 37.5rem;
    margin: 0 0 0 1.875rem;
    border-radius: 1.25rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.profile-settings-title {
    margin-bottom: 2rem;
}

.profile-settings-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem 2.5rem;
    align-items: center;
}

.profile-settings-label {
    font-size: 1.125rem;
}

.profile-settings-input {
    background-color: #444;
    border: none;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
}

.profile-settings-icon {
    font-size: 1.5rem;
    cursor: pointer;
	transition: color 0.2s ease;
}

.edit-avatar-input {
  display: none;
}

.profile-settings-avatar-cell {
  display: flex;
	justify-content: center;
}

#profile-settings-container .avatar-container {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 999rem;
}

.profile-settings-icon:hover {
	color: var(--magenta-500);
}

.profile-settings-icon:active {
	color: var(--magenta-700);
}

.profile-settings-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-settings-toggle-switch {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 1.5rem;
	vertical-align: middle;
}

.profile-settings-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.profile-settings-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 2.125rem;
}

.profile-settings-slider:before {
    position: absolute;
    content: "";
    height: 1.125rem;
    width: 1.25rem;
    left: 0.1875rem;
    bottom: 0.1875rem;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.profile-settings-toggle-input:checked + .profile-settings-slider {
    background-color: var(--teal-500);
}

.profile-settings-toggle-input:checked + .profile-settings-slider:before {
    transform: translateX(26px);
}

.profile-settings-button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.profile-settings-button {
    background-color: #444;
    border: none;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
	transition: background-color 0.2s ease;
	width: 6.25rem;
	height: 2.5rem;
}

.profile-settings-button:hover {
	background-color: var(--magenta-500);
}

.profile-settings-button:active {
	background-color: var(--magenta-700);
}
