
<div class="main-container">
  <div id='two-fa-panel' class='panel'>
    <div class='top-container'>
      <div class='header'>
        <button id="back-button" class="button round-button">
          <i id="back-icon" class="material-icons">arrow_back</i>
        </button>
        <h1 id='two-fa-title'>
          <span style="color: var(--blue-500)">2</span>
          <span style="color: var(--yellow-500)">F</span>
          <span style="color: var(--orange-500)">A</span>
        </h1>
      </div>
      <form id="two-fa-form">
        <div id="two-fa-code-input-container">
          <div class="two-fa-code-container">
            <input id='two-fa-code' type="text" class="input-field" name="two-fa-code" placeholder="Code" maxLength="6" required> 
          </div>
          <div class="text-alert-container">
            <div class="text-alert"></div>
            <a>Resend Code</a>
          </div>
        </div>
      </form>
    </div>
  <button id="confirm-2fa-button" class="button button-md">Login</button>
  </div>
</div>
