
<div class="main-container">
  <div id='avatar-upload-panel' class='panel'>
    <div class='top-container'>
      <div class='header'>
        <h1 id='avatar-upload-title'>
          <span style="color: var(--teal-500)">A</span>
          <span style="color: var(--orange-500)">v</span>
          <span style="color: var(--magenta-500)">a</span>
          <span style="color: var(--yellow-500)">t</span>
          <span style="color: var(--blue-500)">a</span>
          <span style="color: var(--chilled-gray-500)">r</span>
        </h1>
      </div>
      <div class='avatar-container'>
        <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
      </div>
      <p>Upload size < 10MB</p>
      <div class='buttons-container'>
        <button id="use-default-avatar-button" class="button button-md">Use default avatar</button>
        <button id="change-avatar-button" class="button button-md">Change avatar</button>
        <input type="file" accept="image/jpeg, image/png, image/jpg" class="img-upload-input">
      </div>
    </div>
    <button id="confirm-avatar-upload-button" class="button button-md">Confirm</button>
  </div>
</div>
