<div id='game-container' class='panel'>
  <!-- <pre id='debugtickrate'></pre> -->
  <!-- <pre id='debugrenderrate'></pre> -->
  <div id='game-header-text'>Serving to Player 1</div>

  <div class='canvas-row'>
    <div id='p1-powerup-bar' class='powerup-bar'>
      <div class='powerup-indicator'></div>
      <div class='powerup-indicator'></div>
      <div class='powerup-indicator'></div>
    </div>
    <canvas id="pongcanvas"></canvas>
    <div id='p2-powerup-bar' class='powerup-bar'>
      <div class='powerup-indicator'></div>
      <div class='powerup-indicator'></div>
      <div class='powerup-indicator'></div>
    </div>
  </div>

  <div id='color-switcher-container'>
    <div id='p1-color-switcher' class='color-switcher'>
      <div class='color-1'></div>
      <div class='color-2'></div>
      <div class='color-3'></div>
      <div class='color-4'></div>
      <div class='color-5'></div>
      <div class='color-6'></div>
    </div>
    <div id='p2-color-switcher' class='color-switcher'>
      <div class='color-1'></div>
      <div class='color-2'></div>
      <div class='color-3'></div>
      <div class='color-4'></div>
      <div class='color-5'></div>
      <div class='color-6'></div>
    </div>
  </div>
</div>
