
<div class="main-container">
  <div id='login-panel' class='panel'>
    <div class='top-container'>
      <div class='header'>
        <button id="back-to-start-button" class="round-button">
          <i class="material-icons">arrow_back</i>
        </button>
        <h1 id='login-title'>
          <span style="color: var(--teal-500)">L</span>
          <span style="color: var(--orange-500)">o</span>
          <span style="color: var(--yellow-500)">g</span>
          <span style="color: var(--chilled-gray-500)">i</span>
          <span style="color: var(--magenta-500)">n</span>
        </h1>
      </div>
      <form id="login-form">
        <input type="text" id="login-username-input" name="login-username" placeholder="Username" required>
        <div class="password-container">
          <input type="password" id="login-password-input" name="login-password" placeholder="Password" maxLength="12" required>
          <a>Forgot Password?</a>
        </div>
      </form>
  </div>
  <button id="confirm-login-button" class="button-md">Login</button>
  </div>
</div>
