
<div class="main-container">
  <div id='login-panel' class='panel'>
    <div class='top-container'>
      <div class='header'>
        <button id="back-to-start-button" class="button round-button">
          <i id="back-icon" class="material-icons">arrow_back</i>
        </button>
        <h1 id='login-title'>
          <span style="color: var(--teal-500)">L</span>
          <span style="color: var(--orange-500)">o</span>
          <span style="color: var(--yellow-500)">g</span>
          <span style="color: var(--chilled-gray-500)">i</span>
          <span style="color: var(--magenta-500)">n</span>
        </h1>
      </div>
      <div class="form-container">
        <form id="login-form">
          <div id="login-username-input-container">
            <input type="text" class="input-field" name="login-username" placeholder="Username" required>
            <div class="text-alert-container">
              <div class="text-alert"></div>
            </div>
          </div>
          <div id="login-password-input-container">
            <div class="password-container">
              <input type="password" class="input-field" name="login-password" placeholder="Password" maxLength="12" required>
              <i class="material-icons" id="toggle-password-visibility-icon">visibility_off</i>
            </div>
            <div class="text-alert-container">
              <div class="text-alert"></div>
              <a>Forgot Password?</a>
            </div>
          </div>
        </form>
      </div>
  </div>
  <button id="confirm-login-button" class="button button-md">Login</button>
  </div>
</div>
