
<div class="main-container">
  <div id='login-panel' class='panel'>
    <h1 id='main-title'>
      <span style="color: var(--teal-500)">L</span>
      <span style="color: var(--orange-500)">o</span>
      <span style="color: var(--yellow-500)">g</span>
      <span style="color: var(--chilled-gray-500)">i</span>
      <span style="color: var(--magenta-500)">n</span>
    </h1>
    <div class='buttons-container'>
      <button id="login-button">Login</button>
      <button id="signup-button">Signup</button>
    </div>
</div>
