  <!-- <svg height="100vh" width="100vw" style="background: black">
    <style>
      #grid-lines {
        stroke: white;
        stroke-width: 5;
      }
		
      #curves {
        stroke: #fff;
        stroke-width: 10;
        stroke-linecap: round;

        /*stroke-dasharray: 320;*/
        /*stroke-dashoffset: 0;*/
        /*animation: dash 1s linear;*/
      }

      #grid {
        stroke: white;
        stroke-width: 5;
      }
    </style>

    <g id="grid-lines">
      <path d="M 100 100 H 2400"></path>
      <path d="M 100 200 H 2400"></path>
      <path d="M 100 300 H 2400"></path>
      <path d="M 100 400 H 2400"></path>
      <path d="M 100 500 H 2400"></path>
      <path d="M 100 600 H 2400"></path>
      <path d="M 100 700 H 2400"></path>
      <path d="M 100 800 H 2400"></path>
      <path d="M 100 900 H 2400"></path>
      <path d="M 100 1000 H 2400"></path>

      <path d="M 100 100 V 1000"></path>
      <path d="M 200 100 V 1000"></path>
      <path d="M 300 100 V 1000"></path>
      <path d="M 400 100 V 1000"></path>
      <path d="M 500 100 V 1000"></path>
      <path d="M 600 100 V 1000"></path>
      <path d="M 700 100 V 1000"></path>
      <path d="M 800 100 V 1000"></path>
      <path d="M 900 100 V 1000"></path>
      <path d="M 1000 100 V 1000"></path>
      <path d="M 1100 100 V 1000"></path>
      <path d="M 1200 100 V 1000"></path>
      <path d="M 1300 100 V 1000"></path>
      <path d="M 1400 100 V 1000"></path>
      <path d="M 1500 100 V 1000"></path>
      <path d="M 1600 100 V 1000"></path>
      <path d="M 1700 100 V 1000"></path>
      <path d="M 1800 100 V 1000"></path>
      <path d="M 1900 100 V 1000"></path>
      <path d="M 2000 100 V 1000"></path>
      <path d="M 2100 100 V 1000"></path>
      <path d="M 2200 100 V 1000"></path>
      <path d="M 2300 100 V 1000"></path>
      <path d="M 2400 100 V 1000"></path>
    </g>

    <g id="grid">
      <path fill="none" d="M 100 200 L 200 100"></path>
      <path fill="none" d="M 100 300 L 300 100"></path>
      <path fill="none" d="M 100 400 L 400 100"></path>
      <path fill="none" d="M 100 500 L 500 100"></path>
      <path fill="none" d="M 100 600 L 600 100"></path>
      <path fill="none" d="M 100 700 L 700 100"></path>
      <path fill="none" d="M 100 800 L 800 100"></path>
      <path fill="none" d="M 100 900 L 900 100"></path>
      <path fill="none" d="M 100 1000 L 1000 100"></path>

      <path fill="none" d="M 200 1000 L 1100 100"></path>
      <path fill="none" d="M 300 1000 L 1200 100"></path>
      <path fill="none" d="M 400 1000 L 1300 100"></path>
      <path fill="none" d="M 500 1000 L 1400 100"></path>
      <path fill="none" d="M 600 1000 L 1500 100"></path>
      <path fill="none" d="M 700 1000 L 1600 100"></path>
      <path fill="none" d="M 800 1000 L 1700 100"></path>
      <path fill="none" d="M 900 1000 L 1800 100"></path>
      <path fill="none" d="M 1000 1000 L 1900 100"></path>
      <path fill="none" d="M 1100 1000 L 2000 100"></path>
      <path fill="none" d="M 1200 1000 L 2100 100"></path>
      <path fill="none" d="M 1300 1000 L 2200 100"></path>
      <path fill="none" d="M 1400 1000 L 2300 100"></path>
      <path fill="none" d="M 1500 1000 L 2400 100"></path>

      <path fill="none" d="M 1600 1000 L 2400 200"></path>
      <path fill="none" d="M 1700 1000 L 2400 300"></path>
      <path fill="none" d="M 1800 1000 L 2400 400"></path>
      <path fill="none" d="M 1900 1000 L 2400 500"></path>
      <path fill="none" d="M 2000 1000 L 2400 600"></path>
      <path fill="none" d="M 2100 1000 L 2400 700"></path>
      <path fill="none" d="M 2200 1000 L 2400 800"></path>
      <path fill="none" d="M 2300 1000 L 2400 900"></path>
      <path fill="none" d="M 2400 1000 L 2400 1000"></path>
    </g>
  </svg> -->


