
<div class='main-container'>
  <div id='start-page-panel' class='panel'>
    <h1 id='main-title'>
      <span style="color: var(--teal-500)">C</span>
      <span style="color: var(--magenta-500)">h</span>
      <span style="color: var(--orange-500)">r</span>
      <span style="color: var(--yellow-500)">o</span>
      <span style="color: var(--blue-500)">m</span>
      <span style="color: var(--chilled-gray-500)">a</span>
      <span style="color: var(--magenta-500)">P</span>
      <span style="color: var(--yellow-500)">o</span>
      <span style="color: var(--teal-500)">n</span>
      <span style="color: var(--blue-500)">g</span>
    </h1>
    <div class='buttons-container'>
      <button id="login-button" class="button button-lg">Login</button>
      <button id="signup-button" class="button button-lg">Signup</button>
    </div>
  </div>
</div>

