<div id='chat-container'>
  <div id='chat-content-container'>
  </div>
  <form id='chat-input-form'>
    <input id='chat-input' type="text" class="input-field" name="chat-input" placeholder="Send a message">
    <div id='chat-icons-container'>
      <button id='send-message-button'>
        <i id='send-message-icon' class='material-icons'>send</i>
      </button>
    </div>
  </form>
</div>
<div id='profile-container'>
  <div class='avatar-section'>
    <div class='avatar-container'>
      <img src='/static/images/kirby.png' alt='avatar' class='profile-settings-avatar avatar'>
      <div class='status-badge'></div>
    </div>
    <div class='username'>
    </div>
  </div>
  <div class='pvp-stat-container'>
    <span class='pvp-users-label'> </span>
    <div class='win-lose-stat-bar'>
      <span class='pvp-tally-label'> </span>
      <div class='lose-bar'>
        <div class='win-bar'></div>
      </div>
      <div class='win-lose-label'>
        <span>W</span>
        <span>L</span>
      </div>
    </div>
  </div>
  <div class='total-game-stat-container'>
    <span>Total Games</span>
    <div class='win-lose-stat-bar'>
      <span class='total-tally-label'> </span>
      <div class='lose-bar'>
        <div class='win-bar'></div>
      </div>
      <div class='win-lose-label'>
        <span>W</span>
        <span>L</span>
      </div>
    </div>
  </div>
</div>
<div id='blocked-overlay'>
</div>

