
<section id='friends-container'>
</section>
<section id='friends-content-container'>
  <div id='chat-container'>
    <div id='chat-content-container'>
      
      <div class='chat-message-container'>
        <div class='avatar-container'>
          <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
          <div class='status-badge'></div>
        </div>
        <div class='message-container'>
          <div class='user-details'>
            <p class='username'>rsoo</p>
            <p class='message-datetime'>12 Aug 2024 - 10:40</p>
          </div>
          Hello rsoo. Wanna fight me?
        </div>
      </div>
      <div class='chat-message-container'>
        <div class='avatar-container'>
          <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
          <div class='status-badge'></div>
        </div>
        <div class='message-container'>
          <div class='user-details'>
            <p class='username'>rsoo</p>
            <p class='message-datetime'>12 Aug 2024 - 10:40</p>
          </div>
          Hello rsoo. Wanna fight me?
        </div>
      </div>
      <div class='chat-message-container'>
        <div class='avatar-container'>
          <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
          <div class='status-badge'></div>
        </div>
        <div class='message-container'>
          <div class='user-details'>
            <p class='username'>plau</p>
            <p class='message-datetime'>12 Aug 2024 - 10:41</p>
          </div>
          Noooo lsdkfjlsdkldkfslfjslklskdskfjsldksklf
        </div>
      </div>
      <div class='chat-message-container'>
        <div class='/avatar-container'>
          <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
          <div class='status-badge'></div>
        </div>
        <div class='message-container'>
          <div class='user-details'>
            <p class='username'>rsoo</p>
            <p class='message-datetime'>12 Aug 2024 - 10:40</p>
          </div>
          Hello rsoo. Wanna fight me?
        </div>
      </div>

    </div>
    <form id='chat-input-form'>
      <input id='chat-input' type="text" class="input-field" name="chat-input" placeholder="Send a message">
      <div id='chat-icons-container'>
        <i id='emojis-icon' class='material-icons'>add_reaction</i>
        <i id='send-message-icon' class='material-icons'>send</i>
      </div>
    </form>
  </div>
  <div id='profile-container'>
    <div class='avatar-section'>
      <div class='avatar-container'>
        <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
        <!-- <div class='status-badge'></div> -->
      </div>
      rsoo
    </div>
    <div class='pvp-stat-container'>
      <span>rsoo vs melee</span>
      <div class='win-lose-stat-bar'>
        <span>5 - 5</span>
        <div class='lose-bar'>
          <div class='win-bar'></div>
        </div>
        <div class='win-lose-label'>
          <span>W</span>
          <span>L</span>
        </div>
      </div>
    </div>
    <div class='total-game-stat-container'>
      <span>Total Games</span>
      <div class='win-lose-stat-bar'>
        <span>5 - 5</span>
        <div class='lose-bar'>
          <div class='win-bar'></div>
        </div>
        <div class='win-lose-label'>
          <span>W</span>
          <span>L</span>
        </div>
      </div>
    </div>
  </div>
</section>
