<div class='header'>
  <div class='title'>Friends</div>
  <button id='add-friend-button' class='button round-button'>
    <i id="add-friend-icon" class='material-icons'>person_add</i>
  </button>
</div>
<div class='scrollable-container'>
  <div class='friends-section added'>
    <div class='friend-state'>Added</div>
    <div class="friend-record">
      <div class='avatar-section'>
        <div class='avatar-container'>
          <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
          <div class='status-badge'></div>
        </div>
        <div class='avatar-name'>player 1</div>
      </div>
      <div class='icons-section'>
        <i id='challenge-icon' class='material-icons icon-with-tooltip'>
          play_circle
          <div id='challenge-tooltip' class='icon-tooltip'>Challenge</div>
        </i>
        <i id='chat-icon' class='material-icons icon-with-tooltip'>
          chat
          <div id='chat-tooltip' class='icon-tooltip'>Chat</div>
        </i>
        <i id='block-icon' class='material-icons icon-with-tooltip'>
          block
          <div id='block-tooltip' class='icon-tooltip'>Block</div>
        </i>
      </div>
    </div>
  </div>
  <div class='friends-section pending'>
    <div class='friend-state'>Pending</div>
      <div class="friend-record">
        <div class='avatar-section'>
          <div class='avatar-container'>
            <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
            <div class='status-badge'></div>
          </div>
          <div class='avatar-name'>player 1</div>
        </div>
        <div class='icons-section'>
          <i id='cancel-icon' class='material-icons icon-with-tooltip'>
            close
            <div id='cancel-tooltip' class='icon-tooltip'>Cancel request</div>
          </i>
        </div>
      </div>
    </div>
  <div class='friends-section blocked'>
    <div class='friend-state'>Blocked</div>
    <div class="friend-record">
      <div class='avatar-section'>
        <div class='avatar-container'>
          <img src='/static/images/kirby.png' alt='avatar' class='avatar'>
          <div class='status-badge'></div>
        </div>
        <div class='avatar-name'>player 1</div>
      </div>
      <div class='icons-section'>
        <i id='unblock-icon' class='material-icons icon-with-tooltip'>
          lock_reset
          <div id='unblock-tooltip' class='icon-tooltip'>Unblock</div>
        </i>
      </div>
    </div>
  </div>
</div>

