<div class='header'>
  <div class='title'>Friends</div>
  <button id='add-friend-button' class='button round-button'>
    <i id="add-friend-icon" class='material-icons'>person_add</i>
  </button>
</div>
<div class='scrollable-container'>
  <div class='friends-section added'>
    <div class='friend-state'>Added</div>
    <div class='friend-records'></div>
  </div>
  <div class='friends-section blocked'>
    <div class='friend-state'>Blocked</div>
    <div class='friend-records'></div>
  </div>
</div>

