
<div class='header'>
  <div class='title'>Friend Search</div>
  <button id='close-search-friend-button' class='button round-button'>
    <i id="close-search-friend-icon" class='material-icons'>close</i>
  </button>
</div>
<div class='panel-content-container'>
  <div class='scrollable-container friend-search'>
    <div class='friends-section sent-friend-requests'>
      <div class='friend-state'>Sent Friend Requests</div>
      <div class='friend-records'></div>
    </div>
    <div class='friends-section received-friend-requests'>
      <div class='friend-state'>Received Friend Requests</div>
      <div class='friend-records'></div>
    </div>
    <div class='friends-section not-added'>
      <div class='friend-state'>Not Added</div>
      <div class='friend-records'></div>
    </div>
  </div>
</div>

