<div class="lobby-flex-container lobby-column-container">
  <div class="play-settings-title">
    <button id="lobbyback" class="material-icons play-settings-back-button">arrow_back</button>
    <h1>Lobby</h1>
  </div>
  <div class="lobby-flex-container">
    <div class="lobby-classic-player-container" id='p1-container'>
      <img
        id='p1-avatar'
        src=""
        class="profile-settings-avatar"
        style="display: none"
      />
      <p class="lobby-player-header" id="p1-header" style="display: none">Player 1</p>
      <p class="lobby-player-name" id="p1-name">name</p>
      <button id="p1-ready" class="button button-md" style="display: none; background-color: var(--teal-500)">Ready</button>
    </div>
    <h1 class="versus">vs</h1>
    <div class="lobby-classic-player-container" id='p2-container'>
      <img
        id='p2-avatar'
        src=""
        class="profile-settings-avatar"
        style="display: none"
      />
      <p class="lobby-player-header" id="p2-header" style="display: none">Player 2</p>
      <p class="lobby-player-name" id="p2-name">Waiting for player.....</p>
      <button id="p2-ready" class="button button-md" style="display: none; background-color: var(--teal-500)">Ready</button>
    </div>
  </div>
  <div class="lobby-button-container">
    <button id="start-game" class="button button-md">Start Game</button>
  </div>
</div>
