
<div class='main-container'>
  <div id='main-menu-panel' class='panel'>
    <div id='hotbar' class='panel'>
      <div id='icon-buttons-container'>
        <button id="play-button" class='icon-button'></button>
        <button id="stats-button" class='icon-button'></button>
        <button id="friends-button" class='icon-button'></button>
        <button id="how-to-play-button" class='icon-button'></button>
        <button id="settings-button" class='icon-button'></button>
      </div>
      <div id="icons-container">
        <i id="play-icon" class="material-icons hotbar-icon">play_circle</i>
        <i id="stats-icon" class="material-icons hotbar-icon">query_stats</i>
        <i id="friends-icon" class="material-icons hotbar-icon">groups</i>
        <i id="how-to-play-icon" class="material-icons hotbar-icon">quiz</i>
        <i id="settings-icon" class="material-icons hotbar-icon">settings</i>
      </div>
      <div id="tooltips-container">
        <div id="play-tooltip" class="tooltip">Play</div>
        <div id="stats-tooltip" class="tooltip">Stats + History</div>
        <div id="friends-tooltip" class="tooltip">Friends + Chats</div>
        <div id="how-to-play-tooltip" class="tooltip">How To Play</div>
        <div id="settings-tooltip" class="tooltip">Settings</div>
      </div>
    </div>
    <div class='content-container'></div>
    <div id='main-menu-overlay'>
    </div>
  </div>
</div>

