
<div class='play-settings-title'>
  <button id='settingsback' class='material-icons play-settings-back-button'>arrow_back</button>
  <h1>Game Settings</h1>
</div>
</br>
<div>
  <form>
    <div class='play-settings-inline-flex'>
      <p>Match visibility:</p>
      <select id='match-visibility'>
        <option value="public">Public</option>
        <option value="friends">Friends-Only</option>
        <option value="invite">Invite-Only</option>
      </select>
    </div>
    <div class='play-settings-inline-flex'>
      <p>Match visibility:</p>
      <select id='match-visibility'>
        <option value="public">Public</option>
        <option value="friends">Friends-Only</option>
        <option value="invite">Invite-Only</option>
      </select>
    </div>
    <div class='play-settings-inline-flex'>
      <p>Match visibility:</p>
      <select id='match-visibility'>
        <option value="public">Public</option>
        <option value="friends">Friends-Only</option>
        <option value="invite">Invite-Only</option>
      </select>
    </div>
  </form>
</div>
