
<div id='play-container'>
  <div class='play-container-title'>
    <h1 id='main-title'>
      <span style="color: var(--teal-500)">C</span>
      <span style="color: var(--magenta-500)">h</span>
      <span style="color: var(--orange-500)">r</span>
      <span style="color: var(--yellow-500)">o</span>
      <span style="color: var(--blue-500)">m</span>
      <span style="color: var(--chilled-gray-500)">a</span>
      <span style="color: var(--magenta-500)">P</span>
      <span style="color: var(--yellow-500)">o</span>
      <span style="color: var(--teal-500)">n</span>
      <span style="color: var(--blue-500)">g</span>
    </h1>
  </div>
  <div class='play-block-container'>
    <div class='play-gamemode-container'>
      <i style='color: var(--blue-500)' class='material-icons'>keyboard</i>
      <h1>Local Play</h1>
      <p>A classic 1v1 pong match on the same keyboard</p>
      <div class='play-block-button-container'>
        <button>Host tournament</button>
      </div>
    </div>
    <div class='play-gamemode-container'>
      <i style='color: var(--teal-500)' class='material-icons'>search</i>
      <h1>Online Play</h1>
      <p>A classic 1v1 pong match on the internet</p>
      <div class='play-block-button-container'>
        <p>button</p>
      </div>
    </div>
    <div class='play-gamemode-container'>
      <i style='color: var(--yellow-500)' class='material-icons'>emoji_events</i>
      <h1>Tournament</h1>
      <p>Play against multiple players in a classic tournament bracket</p>
      <div class='play-block-button-container'>
        <p>button</p>
      </div>
    </div>
  </div>
</div>
