
<div id='play-container'>
  <div class='play-container-title'>
    <h1 id='main-title'>
      <span style="color: var(--teal-500)">G</span>
      <span style="color: var(--magenta-500)">a</span>
      <span style="color: var(--orange-500)">m</span>
      <span style="color: var(--yellow-500)">e</span>
      <span> </span>
      <span style="color: var(--blue-500)">S</span>
      <span style="color: var(--chilled-gray-500)">e</span>
      <span style="color: var(--magenta-500)">t</span>
      <span style="color: var(--yellow-500)">t</span>
      <span style="color: var(--teal-500)">i</span>
      <span style="color: var(--magenta-500)">n</span>
      <span style="color: var(--orange-500)">g</span>
      <span style="color: var(--yellow-500)">s</span>
    </h1>
  </div>
</div>
