<div id="profile-settings-container">
	<h1 class="profile-settings-title">Profile Settings</h1>
	<div class="profile-settings-grid">
		<!-- Avatar  -->
		<span class="profile-settings-label">Avatar</span>
		<img src="/static/images/kirby.png" alt="avatar" class="profile-settings-avatar">
		<i class="profile-settings-icon material-icons">edit</i>

		<!-- Username  -->
		<span class="profile-settings-label">Username</span>
		<input type="text" class="profile-settings-input" value="peiyun" placeholder="Username">
		<i class="profile-settings-icon material-icons">edit</i>

		<!-- Email  -->
		<span class="profile-settings-label">Email</span>
		<input type="email" class="profile-settings-input" value="peiyun@gmail.com" placeholder="Email">
		<i class="profile-settings-icon material-icons">edit</i>

		<!-- Password  -->
		<span class="profile-settings-label">Password</span>
		<input type="password" class="profile-settings-input" value="********" placeholder="Password">
		<i class="profile-settings-icon material-icons">edit</i>

		<!-- 2FA  -->
		<span class="profile-settings-label">2FA</span>
		<label class="profile-settings-toggle-switch">
			<input type="checkbox" class="profile-settings-toggle-input" checked>
			<span class="profile-settings-slider"></span>
		</label>
		</div>
	<div class="profile-settings-button-group">
		<button class="profile-settings-button">Save</button>
		<button class="profile-settings-button">Logout</button>
	</div>
</div>