<section id='match-history-container'>
    <div class='title'>Match History</div>
    <div class='scrollable-container'>
        <!-- Match records will be dynamically inserted here -->
    </div>
</section>
<section id='stats-content-container'>
    <!-- <div id='overall-stats-container'>
        <h1 class='title'>Overall Stats</h1>
        <div class='content'>
            <div class='stat-card'></div>
            <div class='stat-card'></div>
            <div class='stat-card'></div>
            <div class='stat-card'></div>
            <div class='stat-card'></div>
            <div class='stat-card'></div>
        </div>
    </div> -->
    <div id='match-stats-container'>
        <h1 class='title'>Match Stats</h1>
        <div class='content'>
            <p class='text'>Select a match history record to view its stats!</p>
            <img src='/static/images/match_record_demo.gif' alt='match-record-demo' class='match-record-demo'>
        </div>
    </div>
</section>
