
  <section id='match-history-container'>
    <div class='title'>Match History</div>
    <div class='scrollable-container'>
      <div class='record-section'>
        <div class='date'>9 Aug 2024, Fri</div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
      </div>
      <div class='record-section'>
        <div class='date'>9 Aug 2024, Fri</div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
        <div class="match-record">
          
          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 1</div>
          </div>

          <div class='score-time-section'>
            <div class='score'>0 - 0</div>
            <div class='time'>14:30pm</div>
          </div>

          <div class='avatar-section'>
            <div class='avatar-container'>
              <img src='static/images/kirby.png' alt='avatar' class='avatar'>
              <div class='status-badge'></div>
            </div>
            <div class='avatar-name'>player 2</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section id='stats-content-container'>
    <div id='overall-stats-container'>
      <h1 class='title'>Overall Stats</h1>
      <div class='content'>
        <div class='stat-card'></div>
        <div class='stat-card'></div>
        <div class='stat-card'></div>
        <div class='stat-card'></div>
        <div class='stat-card'></div>
        <div class='stat-card'></div>
      </div>
    </div>
    <div id='match-stats-container'>
      <h1 class='title'>Match Stats</h1>
      <div class='content'>
        <p class='text'>Select a match history record to view its stats!</p>
        <img src='static/images/match_record_demo.gif' alt='match-record-demo' class='match-record-demo'>
      </div>
    </div>
  </section>
