<div>
  <div id='bracket-list'></div>
  <div>
    <div>
      <img
        id='p1-avatar'
        src=""
        class="profile-settings-avatar"
        style="display: none"
      />
      <p class="lobby-player-name" id="p1-name">name</p>
      <button class='button button-md' id='p1-ready'>ready</button>
    </div>
    <div>
      <img
        id='p1-avatar'
        src=""
        class="profile-settings-avatar"
        style="display: none"
      />
      <p class="lobby-player-name" id="p1-name">name</p>
      <!-- <button class='button button-md' id='p1-ready'>ready</button> -->
    </div>
  </div>
<div>
