:root {
    --background: #f1f3f5;
    --primary-color: #4a5568;
    --accent-color: #e56e8e;
    --input-bg: #f7edf3;
}

body, html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	gap: 3rem;
}

.login-container {
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 400px;
	height: 550px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1.5rem;
    padding: 0.85rem;
    border: 1px solid #e2e8f0;
    font-size: 1.2rem;
    background-color: var(--input-bg);
}

input:focus {
	outline: none;
    border-color: var(--accent-color);
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1.2rem;
    cursor: grab;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e8a9ba;
}

.register-forget {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    font-size: 1rem;
}

.register-forget a {
    color: var(--primary-color);
    text-decoration: none;
}

.register-forget a:hover {
    color: var(--accent-color);
}