
#main-menu-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  width: 62.5rem;
  height: 32rem;
  border-radius: 40px;

  position: relative;

  border: 5px solid var(--teal-500);
}

#hotbar {
  border-radius: 30px 0px 0px 30px;
  width: 4rem;
  height: 18rem;

  position: absolute;
  left: -4.6rem;

  border: 5px solid var(--teal-500);
}

#icon-buttons-container {
  width: 4rem;
  height: 18rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 0;
}

.icon-button {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#play-button {
  width: 4rem;
  height: 3.6rem;

  border-radius: 24px 0px 0px 0px;
  background-color: var(--teal-500);
}

#stats-button {
  width: 4rem;
  height: 3.6rem;

  background-color: black;
}

#friends-button {
  width: 4rem;
  height: 3.6rem;

  background-color: black;
}

#how-to-play-button {
  width: 4rem;
  height: 3.6rem;

  background-color: black;
}

#settings-button {
  width: 4rem;
  height: 3.7rem;

  border-radius: 0px 0px 0px 24px;
  background-color: black;
}

#icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 1;
  pointer-events: none; 
}

.hotbar-icon {
  /*pointer-events: none; */
}

#play-icon {
  color: var(--teal-200)
}

#stats-icon {
  color: var(--yellow-500)
}

#friends-icon {
  color: var(--blue-500)
}

#how-to-play-icon {
  color: var(--orange-500)
}

#settings-icon {
  color: var(--magenta-500)
}

#tooltips-container {
  width: 10rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: white;
  position: absolute;
  left: 5rem;
}

.tooltip {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
}

#play-tooltip {
  background-color: var(--teal-500);
}

#stats-tooltip {
  background-color: var(--yellow-500);
}

#friends-tooltip {
  background-color: var(--blue-500);
}

#how-to-play-tooltip {
  background-color: var(--orange-500);
}

#settings-tooltip {
  background-color: var(--magenta-500);
}
