@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --main-bg-color: #000000;
  --panel-bg-color: #000000;

  --teal-500: #08b393;
  --magenta-500: #cf2350;
  --orange-500: #e37144;
  --blue-500: #2a86bb;
  --yellow-500: #f6b20d;
  --charcoal-500: #8d8d8d;
  --chilled-gray-500: #8e92b9;
}

body, html {
  background-color: var(--main-bg-color);
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
}

.panel {
  background-color: var(--panel-bg-color);
  border: 10px solid white;
}

