
<div class="main-container">
  <div id='signup-panel' class='panel'>
    <div class='top-container'>
      <div class='header'>
        <button id="back-button" class="button round-button">
          <i id="back-icon" class="material-icons">arrow_back</i>
        </button>
        <h1 id='change-password-title'>
          <span style="color: var(--teal-500)">C</span>
          <span style="color: var(--orange-500)">h</span>
          <span style="color: var(--yellow-500)">n</span>
          <span style="color: var(--chilled-gray-500)">g</span>
          <span style="color: var(--magenta-500)">P</span>
          <span style="color: var(--blue-500)">s</span>
        </h1>
      </div>
      <form id="change-password-form">
        <div id="change-password-new_password1-input-container">
          <div class="password-container">
            <input id='new_password1' type="password" class="input-field" name="signup-password" placeholder="Password" maxLength="12" required>
            <i class="material-icons toggle-password-visibility-icon">visibility_off</i>
          </div>
          <div class="text-alert-container">
            <div class="text-alert"></div>
          </div>
        </div>
        <div id="change-password-new_password2-input-container">
          <div class="password-container">
            <input id='new_password2' type="password" class="input-field" name="signup-confirm-password" placeholder="Confirm Password" maxLength="12" required>
            <i class="material-icons toggle-password-visibility-icon">visibility_off</i>
          </div>
          <div class="text-alert-container">
            <div class="text-alert"></div>
          </div>
        </div>
      </form>
    </div>
    <div class='buttons-container'>
      <button id="confirm-signup-button" class="button button-md">Signup</button>
    </div>
  </div>
</div>
