
<div class="main-container">
  <div id='get-email-panel' class='panel'>
    <div class='top-container'>
      <div class='header'>
        <button id="back-button" class="button round-button">
          <i id="back-icon" class="material-icons">arrow_back</i>
        </button>
        <h1 id='get-email-title'>
          <span style="color: var(--teal-500)">E</span>
          <span style="color: var(--orange-500)">m</span>
          <span style="color: var(--yellow-500)">a</span>
          <span style="color: var(--chilled-gray-500)">i</span>
          <span style="color: var(--magenta-500)">l</span>
        </h1>
      </div>
      <form id="forgot-password-form">
        <div id="forgot-password-email-input-container">
          <div class="forgot-password-email-container">
            <input id='forgot-password-email' autocomplete="off" type="text" class="input-field" name="forgot-password-email" placeholder="Email" required> 
            <div class="text-alert-container">
              <div class="text-alert"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <button id="submit-email-button" class="button button-md">Submit</button>
  </div>
</div>
  
